.login-title{
  width:100px;
  float:right;
  h2{
    margin-top:0px;
    
  }
}


  .other-login-for-login{
    background: #fff;

    
    top: 50px;
    

    
    .auth-list{

      margin-bottom: 110px;
      display: block;
      margin-left: auto;
      margin-right:auto;
      
      .auth-wechat,
      .auth-alibaba,
      .auth-weibo,
      .auth-qq{
        position: relative;
        color: $themeColor;
        float: left;
        margin-left:20px;
      }
      .auth-qq{
        margin-left:10px;
      }
      .auth-wechat{       
	      background-position: -53px;
      }
      .auth-weibo{        
	      background-position: -106px;
      }
      .auth-alibaba{
	      background-position: -159px;
      }
      
      a{
        	background-image: url(../img/oauth-logo.png);
	        background-repeat: no-repeat;
          width: 53px;
          height: 53px;
          position: absolute;
          top: auto;
          left: auto;
          text-decoration: none;
          span{
            	position: relative;
              top: 110%;
              left: 25%;
          }
      }
    }
  }
.log-right{
  margin-top:50px;
  left:100px;
  border-radius: 4px;
  background: #fff;
  .form-group{
    input,
    select{
      transition: all 0.6s;
      box-shadow:0px 0px 0px $themeColor;
    }
    input[type=radio]{
      transition:all 0s;
    }
    input[type=number]:focus,
    input[type=text]:focus,
    input[type=email]:focus,
    input[type=password]:focus,
    select:focus{
      box-shadow:0px 0px 10px $themeColor;
      border:1px solid $themeColor;
    }
    
  }
  .btn-submit:hover{
      background: $themeActiveColor;
      color: white;
      border-color: white;
      transition: all 0.3s;
  }
}
