.main-pane{
  margin-top:30px; 
  
  .main-item{
    height: 400px;
    
    .query-item{
      height: 50px;
      padding: 10px 10px;
      button{
        margin-left: 10px;
        background: #fff;
        
      }
      
      .dropdown-menu{
          min-width: 0px;
          top:30px;
        }
      .dropdown-menu>li>a:hover{
        background: orange;
        color:#fff;
      }
      .btn:hover, .btn:focus, .btn.focus {
          color: orange;
          text-decoration: none;
          box-shadow: 0px 0px 0px ;
      }
      .checkbox{
        margin-left: 10px;
      }
    }
  }
  .main-right{
    height: 300px;
  }
  .main-item,
  .main-right{
    background: #fff;
    box-shadow: 1px 1px 2px rgba(32, 32, 32, 0.5);
  }
}