.production-class{
  height: 300px;
  background: cornflowerblue;
  .class-box{
    height: 200px;
    background: #898;
  }
  .location-box{
    height: 100px;
    background-color: beige;
  }
  .recommend-box{
    height: 300px;
    background:#98d;
  }
}
.navigation{
  margin-top: 150px;
}